<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admms.tcc.oasis">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_logo"
        android:label="DBP - Serviços de Alimentação"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.principal.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controller.principal.CadastroActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".controller.rdc216.Rdc216ArmazenamentoActivity" />
        <activity android:name=".controller.rdc216.Rdc216DocumentacaoActivity" />
        <activity android:name=".controller.rdc216.Rdc216EdificacaoActivity" />
        <activity android:name=".controller.principal.DBPActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".controller.principal.PopUpActivity" />
        <activity android:name=".controller.rdc216.Rdc216Activity" />
        <activity android:name=".controller.rdc216.Rdc216HigieneActivity" />
        <activity android:name=".controller.rdc216.Rdc216IngredientesActivity" />
        <activity android:name=".controller.rdc216.Rdc216ManipuladorActivity" />
        <activity android:name=".controller.rdc216.Rdc216VetoresActivity" />
        <activity android:name=".controller.rdc216.Rdc216PreparoActivity" />
        <activity android:name=".controller.rdc216.Rdc216ResiduosActivity" />
        <activity android:name=".controller.rdc216.Rdc216ResponsavelActivity" />
        <activity android:name=".controller.rdc216.Rdc216SaneamentoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325Activity" />
        <activity android:name=".controller.prt2619.Prt2619Activity" />
        <activity android:name=".controller.cvs5.Cvs5Activity" />
        <activity android:name=".controller.in04.In04Activity" />
        <activity android:name=".controller.rdc216.Rdc216ExposicaoActivity" />
        <activity android:name=".controller.cvs5.Cvs5ArmazenamentoActivity" />
        <activity android:name=".controller.cvs5.Cvs5DocumentacaoActivity" />
        <activity android:name=".controller.cvs5.Cvs5EdificacaoActivity" />
        <activity android:name=".controller.cvs5.Cvs5ExposicaoActivity" />
        <activity android:name=".controller.cvs5.Cvs5HigieneActivity" />
        <activity android:name=".controller.cvs5.Cvs5IngredientesActivity" />
        <activity android:name=".controller.cvs5.Cvs5ManipuladoresActivity" />
        <activity android:name=".controller.cvs5.Cvs5VetoresActivity" />
        <activity android:name=".controller.cvs5.Cvs5PreparoActivity" />
        <activity android:name=".controller.cvs5.Cvs5ResiduosActivity" />
        <activity android:name=".controller.cvs5.Cvs5SaneamentoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_ArmazenamentoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_DocumentacaoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_EdificacaoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_HigieneActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_IngredientesActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_ManipuladoresActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_VetoresActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_PreparoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_ResiduosActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_ResponsavelActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_SaneamentoActivity" />
        <activity android:name=".controller.prt78_325.Prt78_325_ExposicaoActivity" />
        <activity android:name=".controller.in04.In04_EdificacaoActivity" />
        <activity android:name=".controller.in04.In04_HigieneActivity" />
        <activity android:name=".controller.in04.In04_VetoresActivity" />
        <activity android:name=".controller.in04.In04_SaneamentoActivity" />
        <activity android:name=".controller.in04.In04_ResiduosActivity" />
        <activity android:name=".controller.in04.In04_ManipuladoresActivity" />
        <activity android:name=".controller.in04.In04_IngredientesActivity" />
        <activity android:name=".controller.in04.In04_PreparoActivity" />
        <activity android:name=".controller.in04.In04_ArmazenamentoActivity" />
        <activity android:name=".controller.in04.In04_ExposicaoActivity" />
        <activity android:name=".controller.in04.In04_DocumentacaoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_EdificacaoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_HigieneActivity" />
        <activity android:name=".controller.prt2619.Prt2619_VetoresActivity" />
        <activity android:name=".controller.prt2619.Prt2619_SaneamentoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_ResiduosActivity" />
        <activity android:name=".controller.prt2619.Prt2619_ManipuladoresActivity" />
        <activity android:name=".controller.prt2619.Prt2619_IngredientesActivity" />
        <activity android:name=".controller.prt2619.Prt2619_PreparoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_ArmazenamentoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_ExposicaoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_DocumentacaoActivity" />
        <activity android:name=".controller.prt2619.Prt2619_ResponsavelActivity" />
        <activity android:name=".controller.prt2619.Prt2619_QualidadeActivity"></activity>
    </application>

</manifest>